* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--BODY-FONT);
    color: var(--COLOR-5F6876);
}

ul {
    list-style-type: none;
} 

li {
    text-decoration: none;
}

ul, ol {
    margin-bottom: 0px;
}

h2 {
    font-size: 14px;
}

input {
    border:0;
}
textarea {
    resize: none;
}



.scrollbar::-webkit-scrollbar {
    width: 1em;
}
   
.scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #545454;
    outline: 1px solid slategrey;
}

.position-relative {
    position: relative;
}

#Base-input-button {
    border-radius: 50px;
    background: transparent;
    padding: 10px 30px;
    border: 1px solid #545454;

    background-color: #545454;
  
    color: #ecf0f1;


    font-size: 11px;
    -webkit-transition-property: background,color;
    transition-property: background,color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;

    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

#Base-input-button:hover {
    cursor: pointer;
    transition: 0.7s;

    color: #545454;
    border: 1px solid #545454;
    background-color: #ecf0f1;
}

#Base-input-search {    
    background-color: transparent;

    padding-left: 10px;
    padding-right: 10px;

    border: 1px solid var(--COLOR-5F6876);
}

.isPrintedCSVData-checked {
    margin-right: 10px;
}

