:root {
   --color0: #FFF;
   --color1: #000000;
   --color2: #000000;
   --color3: #000000;
   --color4: #000000;
   --color5: #000000;
   --color6: #000000;
   --color7: #000000;
   --color8: #000000;
   --color9: #000000;
}
