:root {
	--color0:#1d2021;
	--color1:#32302f;
	--color1:#fabd2f;
	--color2:#3c3836;
	--color2:#fe8019;
	--color3:#fbf1c7;
	--color5:#ebdbb2;
	--color6:#cc241d;
	--color7:#98971a;
	--color8:#fabd2f;
	--color9:#fbf1c7;
}
