:root {
    --BACKGROUND-COLOR-151C2D: #151C2D;
    --BACKGROUND-COLOR-0D121F: #0D121F;
    --BACKGROUND-COLOR-1F2940: #1F2940;
 
    --BACKGROUND-COLOR-0432A0: #0432A0;
    --BACKGROUND-COLOR-WHITE: white;
    --BACKGROUND-COLOR-BLACK: black;
    --BACKGROUND-COLOR-F3F6FB: #F3F6FB;

    --COLOR-F3F6FB: #F3F6FB;
    --COLOR-BLACK: black;
    --COLOR-WHITE: white;
    --COLOR-5055DF: #5055DF;
    --COLOR-E83F43: #e83f43;
    --COLOR-DC6180: #DC6180;
    --COLOR-5F6876: #5F6876;
    
    --BODY-FONT: 'Open Sans';
}
